<!DOCTYPE html>
<html lang="en">
  <head>
    {% block title %}<title>Hello, world!</title>{% endblock %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

    <!-- Custom CSS -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    

  </head>
  <body>

    <nav class="nav-bar clearfix">
      <div class="toggler-container">
        <a class="sidenav-toggler" href="#" onclick="openNav()">&#9776;</a>
      </div>
      <div class="reg-info">
        {% if user.is_authenticated %}
          <p class="curr-user-text">Logged in as: {{ user.username }}</p>
          <a class="reg-link" href="{% url 'logout' %}">Logout</a>
        {% else %}
          <a class="reg-link" href="{% url 'login' %}">Login</a><!--
          --><a class="reg-link" id="register" href="{% url 'signup' %}">Register</a>
        {% endif %}
      </div>
    </nav>

    <div id="sidenav" class="sidenav">
      <div class="nav-bar">
        <div class="toggler-container">
          <a href="#" class="sidenav-toggler" onclick="closeNav()">&#9776;</a>
        </div>
      </div>
      <a href="{% url 'timer' %}" class="link">Timer</a>
      <a href="{% url 'profile' %}" class="link">Profile</a>
      <a href="{% url 'countdown' %}" class="link">Countdown</a>
      <div class="sidenav-content">
        {% block sidenav %}{% endblock %}
      </div>
    </div>

    
    {% block content %}{% endblock %}
        

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

    <!-- Custom JavaScript -->
    {% load static %}
    <script src="{% static 'js/sidebar.js' %}"></script>

  </body>
</html>