<!DOCTYPE html>
<html lang="en">
  <head>
    {% block title %}<title>Hello, world!</title>{% endblock %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

    <!-- Custom CSS -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    

  </head>
  <body>

    <nav class="nav">
      <a class="sidenav-toggler" href="#" onclick="openNav()">&#9776;</a>
    </nav>

    <div id="sidenav" class="sidenav">
      <div class="nav">
        <a href="#" class="sidenav-toggler" onclick="closeNav()">&#9776;</a>
      </div>
      <a href="{% url 'timer' %}" class="link">Timer</a>
      <a href="{% url 'profile' %}" class="link">Profile</a>
      <a href="{% url 'countdown' %}" class="link">Countdown</a>
      <div class="sidenav-content">
        {% block sidenav %}{% endblock %}
      </div>
    </div>

    
    {% block content %}{% endblock %}
        

    <!-- Custom JavaScript -->
    {% load static %}
    <script src="{% static 'js/sidebar.js' %}"></script>

  </body>
</html>