{% extends 'base_generic.html' %}

{% block content %}

  {% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
  {% endif %}

  {% if next %}
    {% if user.is_authenticated %}
      <p>Your account doesn't have access to this page. Please login to an account that does have access to continue.</p>
    {% else %}
      <p>Please login to see this page.</p>
    {% endif %}
  {% endif %}

  <main class="accounts-container">
    
    <div class="signup-container">

      <h2>Login</h2>

      <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
  
        <ul>
          {% for field in form %}
            <li>
              <p>{{ field.label_tag }}</p>
              {{ field }}
              {% for error in field.errors %}
                <p>{{ error }}</p>
              {% endfor %}
            </li>
          {% endfor %}
        </ul>
        
  
        <div>
          <input class="btn btn-primary" type="submit" value="Login" />
          <input type="hidden" name="next" value="{{next}}" />
        </div>
  
      </form>
  
      <p><a href="{% url 'password_reset' %}">Lost password?</a></p>
    </div>

  </main>

{% endblock %}