{% extends 'base_generic.html' %}

{% block content %}
  <div class="accounts-container">
    
    <h2 class="heading">Sign Up</h2>
    <div class="regform-container">
      <form method="post" class="signup-form">
        {% csrf_token %}
        <ul class="form-list">
          {% for field in form %}
            <li>
              <p class="reg-label">{{ field.label_tag }}</p>
              {{ field }}
              {% for error in field.errors %}
                {{ error }}
              {% endfor %}
            </li>
          {% endfor %}
        </ul>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>

  </div>
{% endblock %}