{% extends 'base_generic.html' %} {% block content %}

<div class="profile-main">

    
  <div class="profile-month">
    <h1>Profile</h1>
    <table class="month-table">
      <thead>
        <tr>
          <td class="prev-cell">
            <div class="change-month" id="prev">
              < </div>
          </td>
          <td class="month-head" colspan=5>
            <p class="month-title">
              <span class="date-month"></span>
              <span class="date-year"></span>
            </p>
          </td>
          <td class="next-cell">
            <div class="change-month" id="next">
              >
            </div>
          </td>
        </tr>
        <tr class="month-row">
          <td class="day">
            <p class="day-text">Sunday</p>
          </td>
          <td class="day">
            <p class="day-text">Monday</p>
          </td>
          <td class="day">
            <p class="day-text">Tuesday</p>
          </td>
          <td class="day">
            <p class="day-text">Wednesday</p>
          </td>
          <td class="day">
            <p class="day-text">Thursday</p>
          </td>
          <td class="day">
            <p class="day-text">Friday</p>
          </td>
          <td class="day">
            <p class="day-text">Saturday</p>
          </td>
        </tr>
      </thead>
      <tbody class="month-body">
        <tr class="month-row">
          <td class="month-cell shaded">
            <div class="date">
              <p class="date-text"></p>
            </div>
            <div class="tomato-container">
              <p class="tomato-count"></p>
            </div>
          </td>
          <td class="month-cell shaded">
            <div class="date">
              <p class="date-text"></p>
            </div>
            <div class="tomato-container">
              <p class="tomato-count"></p>
            </div>
          </td>
          <td class="month-cell shaded">
            <div class="date">
              <p class="date-text"></p>
            </div>
            <div class="tomato-container">
              <p class="tomato-count"></p>
            </div>
          </td>
          <td class="month-cell shaded">
            <div class="date">
              <p class="date-text"></p>
            </div>
            <div class="tomato-container">
              <p class="tomato-count"></p>
            </div>
          </td>
          <td class="month-cell shaded">
            <div class="date">
              <p class="date-text"></p>
            </div>
            <div class="tomato-container">
              <p class="tomato-count"></p>
            </div>
          </td>
          <td class="month-cell shaded">
            <div class="date">
              <p class="date-text"></p>
            </div>
            <div class="tomato-container">
              <p class="tomato-count"></p>
            </div>
          </td>
          <td class="month-cell shaded">
            <div class="date">
              <p class="date-text"></p>
            </div>
            <div class="tomato-container">
              <p class="tomato-count"></p>
            </div>
          </td>
        </tr>
        <tr class="month-row">
          <td class="month-cell shaded">
            <div class="date">
              <p class="date-text"></p>
            </div>
            <div class="tomato-container">
              <p class="tomato-count"></p>
            </div>
          </td>
          <td class="month-cell shaded">
            <div class="date">
              <p class="date-text"></p>
            </div>
            <div class="tomato-container">
              <p class="tomato-count"></p>
            </div>
          </td>
          <td class="month-cell shaded">
            <div class="date">
              <p class="date-text"></p>
            </div>
            <div class="tomato-container">
              <p class="tomato-count"></p>
            </div>
          </td>
          <td class="month-cell shaded">
            <div class="date">
              <p class="date-text"></p>
            </div>
            <div class="tomato-container">
              <p class="tomato-count"></p>
            </div>
          </td>
          <td class="month-cell shaded">
            <div class="date">
              <p class="date-text"></p>
            </div>
            <div class="tomato-container">
              <p class="tomato-count"></p>
            </div>
          </td>
          <td class="month-cell shaded">
            <div class="date">
              <p class="date-text"></p>
            </div>
            <div class="tomato-container">
              <p class="tomato-count"></p>
            </div>
          </td>
          <td class="month-cell shaded">
            <div class="date">
              <p class="date-text"></p>
            </div>
            <div class="tomato-container">
              <p class="tomato-count"></p>
            </div>
          </td>
        </tr>
        <tr class="month-row">
          <td class="month-cell shaded">
            <div class="date">
              <p class="date-text"></p>
            </div>
            <div class="tomato-container">
              <p class="tomato-count"></p>
            </div>
          </td>
          <td class="month-cell shaded">
            <div class="date">
              <p class="date-text"></p>
            </div>
            <div class="tomato-container">
              <p class="tomato-count"></p>
            </div>
          </td>
          <td class="month-cell shaded">
            <div class="date">
              <p class="date-text"></p>
            </div>
            <div class="tomato-container">
              <p class="tomato-count"></p>
            </div>
          </td>
          <td class="month-cell shaded">
            <div class="date">
              <p class="date-text"></p>
            </div>
            <div class="tomato-container">
              <p class="tomato-count"></p>
            </div>
          </td>
          <td class="month-cell shaded">
            <div class="date">
              <p class="date-text"></p>
            </div>
            <div class="tomato-container">
              <p class="tomato-count"></p>
            </div>
          </td>
          <td class="month-cell shaded">
            <div class="date">
              <p class="date-text"></p>
            </div>
            <div class="tomato-container">
              <p class="tomato-count"></p>
            </div>
          </td>
          <td class="month-cell shaded">
            <div class="date">
              <p class="date-text"></p>
            </div>
            <div class="tomato-container">
              <p class="tomato-count"></p>
            </div>
          </td>
        </tr>
        <tr class="month-row">
          <td class="month-cell shaded">
            <div class="date">
              <p class="date-text"></p>
            </div>
            <div class="tomato-container">
              <p class="tomato-count"></p>
            </div>
          </td>
          <td class="month-cell shaded">
            <div class="date">
              <p class="date-text"></p>
            </div>
            <div class="tomato-container">
              <p class="tomato-count"></p>
            </div>
          </td>
          <td class="month-cell shaded">
            <div class="date">
              <p class="date-text"></p>
            </div>
            <div class="tomato-container">
              <p class="tomato-count"></p>
            </div>
          </td>
          <td class="month-cell shaded">
            <div class="date">
              <p class="date-text"></p>
            </div>
            <div class="tomato-container">
              <p class="tomato-count"></p>
            </div>
          </td>
          <td class="month-cell shaded">
            <div class="date">
              <p class="date-text"></p>
            </div>
            <div class="tomato-container">
              <p class="tomato-count"></p>
            </div>
          </td>
          <td class="month-cell shaded">
            <div class="date">
              <p class="date-text"></p>
            </div>
            <div class="tomato-container">
              <p class="tomato-count"></p>
            </div>
          </td>
          <td class="month-cell shaded">
            <div class="date">
              <p class="date-text"></p>
            </div>
            <div class="tomato-container">
              <p class="tomato-count"></p>
            </div>
          </td>
        </tr>
        <tr class="month-row">
          <td class="month-cell shaded">
            <div class="date">
              <p class="date-text"></p>
            </div>
            <div class="tomato-container">
              <p class="tomato-count"></p>
            </div>
          </td>
          <td class="month-cell shaded">
            <div class="date">
              <p class="date-text"></p>
            </div>
            <div class="tomato-container">
              <p class="tomato-count"></p>
            </div>
          </td>
          <td class="month-cell shaded">
            <div class="date">
              <p class="date-text"></p>
            </div>
            <div class="tomato-container">
              <p class="tomato-count"></p>
            </div>
          </td>
          <td class="month-cell shaded">
            <div class="date">
              <p class="date-text"></p>
            </div>
            <div class="tomato-container">
              <p class="tomato-count"></p>
            </div>
          </td>
          <td class="month-cell shaded">
            <div class="date">
              <p class="date-text"></p>
            </div>
            <div class="tomato-container">
              <p class="tomato-count"></p>
            </div>
          </td>
          <td class="month-cell shaded">
            <div class="date">
              <p class="date-text"></p>
            </div>
            <div class="tomato-container">
              <p class="tomato-count"></p>
            </div>
          </td>
          <td class="month-cell shaded">
            <div class="date">
              <p class="date-text"></p>
            </div>
            <div class="tomato-container">
              <p class="tomato-count"></p>
            </div>
          </td>
        </tr>

      </tbody>
    </table>
  </div>
</div>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
    crossorigin="anonymous"></script>

  {% load static %}
  <script src="{% static 'js/profile.js' %}"></script>

  {% endblock %}