{% extends 'base_generic.html' %}

{% block sidenav %}
  <div class="settings-container">
    <div class="settings-group">
      <h3 class="settings-label">Tomato</h3>
      <select class="setting" id="tomato-duration"></select>
    </div>
    <div class="settings-group">
      <h3 class="settings-label">Break</h3>
      <select class="setting" id="break-duration"></select>
    </div>
    <div class="settings-group">
      <h3 class="settings-label">Long Break</h3>
      <select class="setting" id="long-break-duration"></select>
    </div>
    <div class="settings-group">
      <h3 class="settings-label">Tomato Set</h3>
      <select class="setting" id="long-delay"></select>
    </div>
  </div>
{% endblock %}

{% block content %}

  {% load static %}
  <audio src="{% static 'js/solemn.wav' %}" id="audio">
  </audio>  
  
  <div class="timer-main">
    <div class="header">
      <h2 class="heading">Currently: <span id="current">None</span></h2>
    </div>
    <div class="timer">
        <p class="no-select">25:00</p>
    </div>
    <div class="info">
      <p>Tomatoes Until Long Break: <span id="long-tomatoes"></span></p>
      <p>Tomatoes Completed Today: <span id="today-tomatoes"></span></p>
    </div>
  </div>
      

  

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

  <!-- RxJS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/rxjs/5.5.2/Rx.js"></script>

  {% load static %}
  <script src="{% static 'js/timer-opt.js' %}"></script>

{% endblock %}