{% extends 'base_generic.html' %}

{% block content %}

  <header class="header">
    <h1>Pomodoro Clock</h1>
  </header>

  <div class="schedule-container">
    <div class="schedule">
      <div class="schedule-time">1</div>
    </div>
    <input class="schedule-add" type="number" value="1" min="1" max="120" step="1">
  </div>

  <section class="main">
    <div class="timer">
        <p class="no-select">25:00</p>
    </div>
  </section>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

  {% load static %}
  <script src="{% static 'js/tracker-new.js' %}"></script>

{% endblock %}