/* Base template styling */
body {
  font-family: "Lato", sans-serif;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #CC293A;
  overflow-x: hidden;
  transition: 0.3s;
}

.sidenav .link {
  padding: 8px 8px 8px 25px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav .link:hover {
  color: #f1f1f1;
}

.show-side {
  /* border-right: 2px solid black; */
  box-shadow: 1px 0 5px 1px black;
  width: 250px;
}

.nav {
  background-color: white;
  border-bottom: 2px solid black;
  height: 50px;
  padding: 5px 0 0 5px;
}

.sidenav-toggler {
  font-size: 36px;
  cursor: pointer;
}

.sidenav-toggler:hover {
  text-decoration: none;
}

.sidenav-content {
  border: 2px solid black;
  padding-left: 8px;
}

.accounts-container {
  position: relative;
}

.signup-container {
  border: 2px solid black;
  border-radius: 20px;
  height: 400px;
  width: 400px;
  padding: 20px;

  position: absolute;
  top: 50%;
  left: 50%;

  margin: 50px 0 0 -200px;
}

h2 {
  font-size: 30px;
}

.signup-container li {
  margin: 20px 0;
  list-style: none;
}


.form-list p {
  font-size: 20px;
}
