/* Base template styling */
body {
  font-family: "Lato", sans-serif;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #CC293A;
  overflow-x: hidden;
  transition: 0.5s;
}

.sidenav a {
  padding: 8px 8px 8px 25px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  margin-top: none;
  padding-top: 0;
  font-size: 36px;
}

.sidenav-toggler {
  font-size: 36px;
  cursor: pointer;
}

.sidenav-content {
  border: 2px solid black;
  padding-left: 8px;
}