@import url("reset.css");

body {
  background-color: #FFF8DB;
  color: #352D2E;
  font-family: "Lato", sans-serif;
}
a {
  color: #352D2E;
}

/*
  Clearfix
*/

.clearfix::after {
  clear: both;
  content: "";
  margin: 0;
}

/*
  Typography
*/

h1 {
  font-size: 50px;
}
h2 {
  font-size: 40px;
}
h3 {
  font-size: 30px;
}
p {
  font-size: 30px;
}
.heading {
  text-align: center;
}

/*
  Navigation
*/

/* Sidebar nav */
.sidenav {
  background-color: #FFF8DB;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.sidenav .link {
  background-color: #E7D031;
  border-bottom: 1px solid #352D2E;
  padding: 8px 8px 8px 25px;
  text-decoration: none;
  font-size: 25px;
  display: block;
}
.sidenav .link:hover {
  color: #352D2E;
  background-color: #EEE080;
}
.show-side {
  -webkit-box-shadow: 1px 0 5px 1px #352D2E;
  box-shadow: 1px 0 5px 1px #352D2E;
  width: 250px;
}

/* Topbar nav */
.nav-bar {
  background-color: #F2675A;
  border-bottom: 2px solid #352D2E;
  width: 100%;
  height: 50px;
}
.toggler-container {
  display: inline-block;
  padding: 5px 0 0 5px;
  width: 50px;
}
.sidenav-toggler {
  font-size: 36px;
  cursor: pointer;
}
.sidenav-toggler:hover {
  color: #483E3F;
  text-decoration: none;
}
.reg-info {
  float: right;
  height: 50px;
  margin-right: 30px;
}
.curr-user-text,
.reg-link {
  font-size: 18px;
  display: inline-block;  
}
.curr-user-text {
  margin-right: 20px;
}
.reg-link {
  border: 2px solid #352D2E;
  border-top: 0;
  background-color: #E7D031;
  cursor: pointer;
  height: 50px;
  padding-top: 14px;
  text-align: center;
  width: 75px;
}
.reg-link:hover {
  background-color: #EEE080;
  color: #352D2E;
  text-decoration:none;
}
#register {
  border-left: 0;
}


/* 
  Registration and Login
*/

.accounts-container {
  background-color: white;
  border: 2px solid #352D2E;
  border-radius: 20px;
  box-shadow: 1px 1px 5px 1px;
  margin: 30px auto;
  padding: 20px;
  width: 350px;
}
.regform-container {
  display: flex;
  justify-content: center;
}
.regform-container li {
  margin: 20px 0;
  list-style: none;
}
.regform-container input {
  width: 200px;
}
.reg-label {
  font-size: 18px;
}
.password-text {
  font-size: 20px;
  margin-top: 10px;
  text-align: center;
}
.password-link:hover {
  color: #645758;
  text-decoration: none;
}

/* 
  Countdown
*/
.countdown-main {
  margin: 20px auto;
  width: 550px;
}
.countdown-heading {
  margin: 10px 0;
}
.countdown-list {
  background-color: #F2675A;  
  border: 2px solid #352D2E;
}
.countdown-item {
  background-color: #FFF8DB;
  border: 1px solid #352D2E;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
}
.countdown-title,
.countdown-due {
  display: inline-block;
  font-size: 28px;
}
.countdown-title {
  margin-right: 20px;
}
.countdown-text {
  font-size: 15px;
}
.btn-custom {
  margin-top: 5px;
  width: 80px;
}

/*
  Profile
*/

.profile-main td {
  border: 1px solid #352D2E;
}
.profile-main {
  background-color: #FFFFFF;
  border: 1px solid #CBC4C4;
  border-radius: 20px;
  margin: 20px auto;
  padding: 20px;
  width: 80%;
}
.month-head {
  padding: 50px;
}
.month-title {
  text-align: center;
}
.month-cell {
  height: 75px;
  width: 100px;
}
.date {
  border-bottom: 1px solid #352D2E;
}
.prev-cell,
.month-head {
  border-right: none;
}
.next-cell,
.month-head {
  border-left: none;
}
.day {
  padding: 5px;
}
.change-month:hover {
  cursor: pointer;
}
.tomato-container {
  padding-top: 20px;
}
.shaded {
  background-color: lightgrey;
}
.shaded .date {
  border: none;
}
.day-text,
.date-text {
  font-size: 20px;
}
.day-text {
  text-align: center;
}
.date-text {
  text-align: right;
}
.change-month {
  text-align: center;
  font-size: 30px;
}
.tomato-count {
  font-size: 30px;
  text-align: center;
}


/* 
  Timer
*/
.timer-main {
  background-color: white;
  border: 1px solid #352D2E;
  border-radius: 10px;
  margin: 20px auto;
  padding: 30px;
  width: 500px;
}
.timer {
  border: 2px solid#CC293A;
  border-radius: 100%;
  width: 400px;
  height: 400px;
  margin: 10px auto;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.timer:hover {
  cursor: pointer;
}
.timer p {
  font-size: 75px;
}
.no-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.info {
  border: 1px solid #352D2E;
  border-radius: 10px;
  padding: 10px;
}

/* Sidebar settings */
.settings-container {
  background-color: white;
  border: 1px solid #352D2E;
  border-radius: 5px;
  margin: 10px;
  padding: 5px;
}
.settings-label {
  display: inline-block;
}
.setting {
  display: inline-block;
}
